:root {
    --primary1: #FEC5BB;
    --primary2: #FCD5CE;
    --primary3: #FAE1DD;
    --primary4: #F8EDEB;
    --accent1: #FEC89A;
    --accent2: #FFD7BA;
    --accent3: #FFE5D9;
    --secondary1: #D8E2DC;
    --secondary2: #E8E8E4;
    --secondary3: #f7f9f8;
    --gray1: #333333;
    --gray2: #4F4F4F;
    --gray3: #828282;
    --gray4: #BDBDBD;
    --gray5: #E0E0E0;
    --gray6: #F2F2F2;
}

.edit-profile-page {
    text-align: center;
}

.edit-profile-info-card {
    background-color: var(--secondary2)!important;
    text-align: left;
}

.error-edit-profile {
    font-size: 1.1rem;
}

.edit-profile-page .form-control:disabled, .edit-profile-page .form-control:read-only {
    background-color: transparent!important;
    border: none;
    color: var(--gray1);
    filter: none;
    font-weight: 500;
}

.sticky-button-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 0.5rem;
    z-index: 2;
}

.edit-profile-page .secondary-btn.primary {
    background-color: var(--accent2);
    color: var(--gray2)
}

.edit-profile-page .secondary-btn.primary:hover {
    background-color: var(--accent1);
    color: var(--gray1)
}

.my-events-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 1.1rem;
}

.my-events-header h3 {
    font-weight: 600;
    margin-bottom: 0;
}

.my-events-table-wrapper thead, .my-events-table-wrapper tbody tr {
    display: table;
    table-layout: fixed;
}

.my-events-table-wrapper thead {
    width: 100%;
    border: 2px solid var(--secondary1);
}

.my-events-table-wrapper thead th {
    color: var(--gray2);
    padding: 2px 4px;
    text-align: center;
    background-color: var(--primary2);
}

.my-events-table-wrapper tbody tr {
    width: 100%;
}

.my-events-table-wrapper tbody {
    display: block;
    height: 49vh;
    overflow-y: scroll;
}

.my-events-table-wrapper tbody td {
    padding: 0.5em;
}

.my-events-table-wrapper tbody td.date-cell, .my-events-table-wrapper thead th.date-cell, .my-events-table-wrapper tbody td.time-cell, .my-events-table-wrapper thead th.time-cell {
    text-align: center;
    width: 30%;
}

.my-events-table-wrapper tbody td.name-cell, .my-events-table-wrapper thead th.name-cell {
    width: 40%;
}