:root {
  --primary1: #FEC5BB;
  --primary2: #FCD5CE;
  --primary3: #FAE1DD;
  --primary4: #F8EDEB;
  --accent1: #FEC89A;
  --accent2: #FFD7BA;
  --accent3: #FFE5D9;
  --secondary1: #D8E2DC;
  --secondary2: #E8E8E4;
  --secondary3: #f7f9f8;
  --gray1: #333333;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --gray4: #BDBDBD;
  --gray5: #E0E0E0;
  --gray6: #F2F2F2;
}

.App {
  text-align: center;
  background-color: var(--gray6);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-page-sidebar {
  height: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.main-content {
  display: flex;
}

.vertical-align {
  padding-top: 50vh
}

.background-accent {
  background-color: var(--secondary3);
  display: flex;
  min-width: 100vw;
}

.background {
  background-color: var(--secondary3);
}

.login-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  padding: 5rem;
  text-align: center;
  align-items: center;
}

.login-wrapper a {
  color: var(--primary1);
}

.login-spinner-wrapper {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-spinner-wrapper .login-spinner {
  width: 20em;
  height: 20em;
  border: 1.25em solid var(--primary1);
  border-right-color: transparent;
  animation-duration: 1s;
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  /*input has OS specific font-family*/
  color: var(--primary1);
  /* text-decoration: underline; */
  cursor: pointer;
}

.link-button:hover {
  color: darkblue;
  text-decoration: underline;
}

.main-text {
  color: var(--primary1);
  text-align: center;
}

.main-text a {
  font-weight: bold;
}

.drop-shadow {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.form-control {
  background-color: var(--secondary2)!important;
  filter: drop-shadow(3px 4px 2px var(--gray4));
}

.card-header-no-border {
  background-color: #FFFFFF!important;
  border-bottom: 0!important;
  padding: 1rem 0 0 0!important;
}

.card {
  padding: 1rem;
  min-height: 75%;
  border-radius: 10px!important
}

.main-page-sidebar .card {
  min-height: auto;
}

.main-page-sidebar .card-body {
  padding: 1vw;
}

.blob-animation {
  display: none;
  position: absolute;
  fill: var(--primary1);
  top: 0;
  left: 50%;
  width: 2%;
  z-index: 2;
  animation:
    move 0.75s ease-in-out 1,
    grow 0.75s ease 1;
  transform-origin: 50% 50%;
}

@keyframes move {
  from { top: 0; left: 40% }
  to { top: 105%; left: 50% }
}

@keyframes grow {
  0%   { transform: scale(1) }
  20%  { transform: scale(50, 60) }
  35%  { transform: scale(150, 120) }
  50%  { transform: scale(300, 200) }
  100% { transform: scale(1) }
}

.event-icon {
  fill: var(--gray3);
  width: 1.5rem;
  height: 1.5rem;
}

.button-org-login-main-page {
  min-width: 17vw;
}

.button-api-docs-main-page {
  min-width: 17vw;
}

.item-align-center {
  margin-right: 0;
  margin-left: auto;
  width: 100%;
}

.org-page-past-event-card {
  background-color: var(--gray5)!important;
}

.org-page-past-event-header {
  color: var(--gray3);
  font-style: italic;
}

.error {
  color: red;
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 0;
}