:root {
  --primary1: #FEC5BB;
  --primary2: #FCD5CE;
  --primary3: #FAE1DD;
  --primary4: #F8EDEB;
  --accent1: #FEC89A;
  --accent2: #FFD7BA;
  --accent3: #FFE5D9;
  --secondary1: #D8E2DC;
  --secondary2: #E8E8E4;
  --secondary3: #f7f9f8;
  --gray1: #333333;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --gray4: #BDBDBD;
  --gray5: #E0E0E0;
  --gray6: #F2F2F2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
