:root {
  --primary1: #FEC5BB;
  --primary2: #FCD5CE;
  --primary3: #FAE1DD;
  --primary4: #F8EDEB;
  --accent1: #FEC89A;
  --accent2: #FFD7BA;
  --accent3: #FFE5D9;
  --secondary1: #D8E2DC;
  --secondary2: #E8E8E4;
  --secondary3: #f7f9f8;
  --gray1: #333333;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --gray4: #BDBDBD;
  --gray5: #E0E0E0;
  --gray6: #F2F2F2;
}

.App {
  text-align: center;
  background-color: var(--gray6);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fullcalendar-div {
  background-color: var(--primary4);
  flex-grow: 1;
}

.main-page-sidebar {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-content {
  display: flex;
}

.vertical-align {
  padding-top: 50vh
}

.background-accent {
  background-color: var(--secondary3);
  display: flex;
  min-width: 100vw;
}

.login-wrapper {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  align-items: center;
}

.login-wrapper a {
  color: var(--primary1);
}

.main-text {
  color: var(--primary1);
  text-align: center;
}

.main-text a {
  font-weight: bold;
}

.drop-shadow {
  filter: drop-shadow(3px 4px 2px var(--gray4));
}

.form-control {
  background-color: var(--secondary2)!important;
  filter: drop-shadow(3px 4px 2px var(--gray4));
}

.card-header-no-border {
  background-color: #FFFFFF!important;
  border-bottom: 0!important;
  padding: 1rem 0 0 0!important;
}

.card {
  padding: 1rem;
  min-height: 75%;
}

.event-icon {
  width: 1.5rem;
  height: 1.5rem;
}