button.btn, a.btn {
    margin: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

button.primary-btn, a.primary-btn {
    transition: all ease-in .15s;
    background-color: var(--primary1)!important;
    color: var(--gray2);
    border: var(--primary1);
}

button.primary-btn:not(:disabled):hover, a.primary-btn:not(:disabled):hover {
    transition: all ease-in .2s;
    background-color: transparent!important;
    box-shadow: 0 0 0 2pt var(--primary1);
    color: var(--gray2);
    filter: none!important;
}

button.secondary-btn, a.secondary-btn {
    background-color: var(--secondary2);
    color: var(--gray3);
    border: var(--secondary2);
}

button.secondary-btn:not(:disabled):hover, a.secondary-btn:not(:disabled):hover {
    background-color: var(--secondary1);
    color: var(--gray2);
}

button.accent-btn, a.accent-btn {
    background-color: var(--accent2);
    color: var(--gray2);
    border: var(--accent2);
}

button.accent-btn:not(:disabled):hover, a.accent-btn:not(:disabled):hover {
    background-color: var(--accent1);
    color: var(--gray1);
}

button.rounded-btn, a.rounded-btn {
    border-radius: 50px;
}

button.square-btn, a.square-btn {
    border-radius: 8px;
}

button.wide-btn, a.wide-btn {
    width: 100%;
    margin: 0;
}

.center-row {
    display: unset!important;
    margin-left: 0px;
    margin-right: auto;
}

.form-group label, .form-group select {
    margin-bottom: 0;
    font-size: .75rem;
}

.form-group input, .form-group textarea {
    font-size: .75rem;
}

div.form-group {
    margin-bottom: .5rem;
}

.login-wrapper .form-group input {
    font-size: 1rem;
}

.icon-btn {
    background-color: var(--accent2);
    border-radius: 50%;
    border-width: 0;
    width: 40px;
    height: 40px;
    color: var(--gray1);
    /* padding: 0.5rem; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    /* This is required unless you put the helper span closely near the img */
    text-align: center;
    margin: 1em 0;
}

.icon-btn.sm {
    width: 30px;
    height: 30px;
}

.icon-btn.lg {
    width: 50px;
    height: 50px;
}

.icon-btn:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.icon {
    padding: 0.6em 0;
    max-height: 40px;
    max-width: 40px;
    vertical-align: middle;
    fill: var(--gray1);
}

.icon.sm {
    max-height: 30px;
    max-width: 30px;
}

.icon.lg {
    max-height: 50px;
    max-width: 50px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.event-card {
    padding: 0
}

.card-title {
    font-size: 1.5rem;
    color: var(--gray3);
    text-align: center;
}

.org-info-card-style {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.interactive-card:hover {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
}

.MuiChip-root.custom-tag {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--gray2);
    margin: 1px;
}

.MuiChip-root.custom-tag.primary {
    background-color: var(--primary1);
}

.MuiChip-root.custom-tag.secondary {
    background-color: var(--secondary1);
}

.MuiChip-root.custom-tag.accent {
    background-color: var(--accent3);
}

.MuiChip-outlined.custom-tag.primary {
    border: 2px solid var(--primary1);
    background-color: transparent;
}

.MuiChip-outlined.custom-tag.secondary {
    border: 2px solid var(--secondary1);
    background-color: transparent;
}

.MuiChip-outlined.custom-tag.accent {
    border: 2px solid var(--accent1);
    background-color: transparent;
}

.MuiDialog-root .MuiDialog-paper {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.modal-wrapper {
    min-height: 100vh;
}

.modal-wrapper .modal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 10vh;
    background-color: white;
}

.modal-wrapper .close-btn-wrapper {
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.modal-wrapper .modal-appbar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--primary1);
}

.home-page-filters .MuiAutocomplete-root {
    background-color: var(--primary4);
    border-radius: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.home-page-filters .MuiFormControl-root {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.home-page-filters .MuiFormControl-fullWidth {
    width: 90%;
}

.home-page-filters .MuiFormControl-marginNormal {
    margin-top: 14px;
}

.home-page-filters .MuiInputBase-root {
    margin-top: 0;
}

.home-page-filters .MuiAutocomplete-root label {
    top: -14px;
    color: var(--gray3);
    font-family: 'Montserrat', sans-serif;
}

.home-page-filters .MuiAutocomplete-root.Mui-focused label {
    top: -10px;
    color: var(--primaryshade3);
}

.home-page-filters .MuiChip-root {
    height: 30px;
    margin-top: 6px;
    margin-bottom: 3px;
}

.home-page-filters .filter-tag {
    background-color: var(--secondary3);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.home-page-filters .MuiInput-underline:hover:not(.Mui-disabled)::before {
    border-bottom: none;
}

.home-page-filters .MuiInput-underline::before {
    border-bottom: none;
}

.home-page-filters .MuiInput-underline::after {
    border-bottom: 2px solid var(--primaryshade3);
}

.MuiAutocomplete-popper .MuiAutocomplete-paper {
    background-color: var(--secondary3);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.home-page-filters .MuiSlider-root {
    color: var(--primary1)
}

.home-page-filters .MuiSlider-active.MuiSlider-thumb, .home-page-filters .MuiSlider-thumb:hover {
    color: var(--primaryshade2);
    box-shadow: 0px 0px 0px 6px rgba(152, 118, 112, 0.2)
}

.home-page-filters .PrivateValueLabel-circle-4, .home-page-filters .MuiSlider-valueLabel span {
    width: 64px;
    transform: none;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 0.01em;
}

.home-page-filters .PrivateValueLabel-label-5, .home-page-filters .MuiSlider-valueLabel span span {
    transform: none
}

.home-page-filters .MuiSlider-valueLabel {
    left: -200%;
    top: -30px;
}

.navbar .dropdown-menu {
    right: 0;
    left: auto;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.social-media-icon-button {
    font-size: '2rem';
    position: relative;
    top: '-5px';
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: max-content!important;
    height: 100%;
    background-color: var(--accent1);
    z-index: 1;
}

.sidebar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.25em;
    cursor: pointer;
    user-select: none;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.sidebar-items .item {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.sidebar.collapsed {
    width: 4.25em!important;
}

.sidebar.collapsed .sidebar.icon {
    margin-right: 0;
}

.sidebar.collapsed .sidebar-text,
.sidebar.collapsed .sidebar-logo {
    display: none;
}

.sidebar-text-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: start;
    padding-left: 0.5em;
    padding-right: 1em;
}

.admin-tab {
    padding: 20px;
    background-color: var(--accent1);
}

.admin-tab:hover {
    background-color: var(--accent2);
    cursor: pointer;
}

.admin-tab.selected {
    background-color: var(--accent3);
}

.admin-tab-title {
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 2.5px;
}

.sidebar-items a {
    color: var(--gray1)
}

.sidebar-items a:hover {
    color: var(--gray1);
    text-decoration: none;
}