# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front-end/node_modules
front-end/.pnp
front-end/.pnp.js

# testing
front-end/coverage

# production
front-end/build

# misc
front-end/.DS_Store
front-end/.env.local
front-end/.env
front-end/.env.development.local
front-end/.env.test.local
front-end/.env.production.local

front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
front-end/.firebase

back-end/UTD_ECS_Events_WebAPI/UTD_ECS_Events_WebAPI/obj/project.nuget.cache
back-end/UTD_ECS_Events_WebAPI/UTD_ECS_Events_WebAPI/obj/UTD_ECS_Events_WebAPI.csproj.nuget.g.props
back-end/UTD_ECS_Events_WebAPI/UTD_ECS_Events_WebAPI/obj/UTD_ECS_Events_WebAPI.csproj.nuget.dgspec.json
back-end/UTD_ECS_Events_WebAPI/UTD_ECS_Events_WebAPI/obj/Release/netcoreapp3.1/UTD_ECS_Events_WebAPI.assets.cache
back-end/UTD_ECS_Events_WebAPI/UTD_ECS_Events_WebAPI/obj/Release/netcoreapp3.1/UTD_ECS_Events_WebAPI.AssemblyInfoInputs.cache
back-end/UTD_ECS_Events_WebAPI/UTD_ECS_Events_WebAPI/obj/Debug/netcoreapp3.1/UTD_ECS_Events_WebAPI.csprojAssemblyReference.cache
back-end/UTD_ECS_Events_WebAPI/UTD_ECS_Events_WebAPI/obj/Debug/netcoreapp3.1/UTD_ECS_Events_WebAPI.assets.cache
back-end/log*.txt
back-end/UTD_ECS_Events_WebAPI/UTD_ECS_Events_WebAPI/log*.txt
back-end/UTD_ECS_Events_WebAPI/UTD_ECS_Events_WebAPI/obj/Debug/netcoreapp3.1/*.cache